.image img{
    height:100px;
    width: 100px;
    border-radius: 100%;
    margin-left: 35%;
    margin-top:10px;
    margin-bottom: 10px;
}
.text1{
    font-size: 40px;
    font-weight: 900;
    color: white;
    margin-left: 20%;
    margin-bottom: 15%;
}
.text2{
    font-size: 20px;
    color: white;
}
.text3{
    font-size: 20px;
  color: white;
    margin-left:13%;
    margin-bottom: 20px;
    
}
.text4{
    font-size: 20px;
    font-weight: 700;
    color: white;
    margin-left: 38%;
}
.text5{
    font-size: 20px;
    color: white;
    margin-left: 31%;

}
.text6{
    font-size: 20px;
    color: white;
    margin-left: 30%;
    margin-top: 10px;
}
.border{
    border: 1px solid black;
    background-color: rgb(24, 24, 24);
    width: fit-content;
    padding: 5%;
}
.all{
    display: flex;
    margin-top: 10%;
    margin-left: 15%;
    margin-bottom: 10%;
    
}
.header{
    font-size:30px;
    font-weight: 900;
    margin-left: 30%;    
}
.info{
    font-size: 20px;
    margin-top: 15px;

}
.textInputs input{
    height:10%;
    color: black;
    width: 49.5%;
    margin-top: 25px; 
    
}
.select{
    font-size: 20px;
    margin-top: 15px;
}
.text1Inputs input{
    height:10%;
    color: black;
    width: 100%;
    margin-top: 15px;
}
.border1{
    border: 1px solid black;
    padding: 40px;

}
.text2Inputs input{
    height:10%;
    color: black;
    width: 100%;
    font-weight: 700;
    margin-top: 10px;
   
}
.text2Inputs input::placeholder{
    color: black;
}
.register{
    margin-top: 30px;
    font-size: 20px;
    font-weight: 900;
    background-color: rgb(0, 0, 192);
    width: fit-content;
    color: white;
    padding-left: 41%;
    padding-right: 41%;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 3px;
   
}
